
.localeswitcher {
    display: inline-flex;
    height: 3rem;
    padding: .75rem;
    margin-left: .9375rem;
    text-align: center;
    white-space: nowrap;
}

.localeswitcher_toggle {
    color: #000;
    cursor: pointer;
}

.localeswitcher_dropdown {
    display: none;
}

.localeswitcher_toggle:hover .localeswitcher_dropdown {
    display: block;
}

.localeswitcher_container {
    border: 1px solid #85744e;
    background: #f1f1f3;
    width: 340px;
    color: #000;
    position: absolute;
}

.localswitcher_switcher_container {
    padding: 25px 17px 4px;
}

.localeswitcher_action_container {
    padding: 8px 17px 18px 17px;
}

.localeswitcher_btn {
    color: #fff;
    padding: 8px 10px;
    background: #86cddb;
    border: 1px solid #86cddb;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    display: block;

}

.localeswitcher-btn:hover {
    color: #000;
}