#localeswitcher {
	padding-right: 15px;
}

.localeswitcher {
	display: inline-block;
	height: 18px;
	width: 18px;
}

.localeswitcher_container label {
	font-family: 'Trade Gothic LT Std Regular';
	color: #707070;
	font-size: 12px;
	margin-bottom: 10px;
	line-height: 9px;
}

.localeswitcher_container .select-wrapper {
	margin-bottom: 20px;
}

.localeswitcher_container .chosen-container-single .chosen-single {
	height: auto;
	line-height: 9px;
background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.726' height='5.901' viewBox='0 0 11.726 5.901'%3E%3Cpath d='M0,0,5.534,4.859,11.067,0' transform='translate(0.33 0.376)' fill='none' stroke='%23857548' stroke-width='1'/%3E%3C/svg%3E%0A") no-repeat right .75rem center/8px 5px;
}

.localeswitcher_container .chosen-container-single .chosen-single span {
	text-align: left;
	padding: 12px;
	font-family: "Trade Gothic LT Std";
	font-size: 13px;
}

.localeswitcher_container .chosen-container-single .chosen-single, .localeswitcher_container .chosen-container-single .chosen-drop {
	border: 1px solid #B7B7B7 !important;
}

.localeswitcher_container .chosen-container-single .chosen-drop {
	box-shadow: 3px 3px 3px rgba(0,0,0,0.05);
}

.localeswitcher_container .chosen-container .chosen-results {
	margin: 0;
	padding: 0;
}

.localeswitcher_container .chosen-container .chosen-results .active-result {
	padding: 15px;	
	text-align: left;
	border: 1px solid #ffffff !important;
	color: #857548;
	font-size: 12px;
	
}

.localeswitcher_container .chosen-container .chosen-results .active-result:first-child:hover {
	background: #F0F0F3;
	border-bottom: 1px solid #B7B7B7 !important;
	border-left: 1px solid #F0F0F3 !important;
	border-right: 1px solid #F0F0F3 !important;
	border-top: 1px solid #F0F0F3 !important;
}

.localeswitcher_container .chosen-container .chosen-results .active-result:hover {
	background: #F0F0F3;
	border-bottom: 1px solid #B7B7B7 !important;
	border-left: 1px solid #F0F0F3 !important;
	border-right: 1px solid #F0F0F3 !important;
	border-top: 1px solid #B7B7B7 !important;
}

.localeswitcher_container .chosen-container .chosen-results .active-result:last-child:hover {
	background: #F0F0F3;
	border-top: 1px solid #B7B7B7 !important;
	border-bottom: 1px solid #F0F0F3 !important;

}

.localeswitcher_toggle {
    color: #000;
    cursor: pointer;
}

.localeswitcher_dropdown {
    height: 0px;
    transition: height 0.3s ease-in-out;
    position: absolute;
    width: 340px;
    z-index: 9999;
	overflow: hidden;
    top: 40px;
	left: 15px;
}


.opening {
    display: block;
    height: 309px;
    transition: height 0.3s ease-in-out;
}

.opened {
	overflow: unset;
}

.localeswitcher_container {
    border: 1px solid #85744e;
    background: #ffffff;
    width: 100%;
    color: #000;
    position: absolute;  
}

.localeswitcher_switcher_container {
    padding: 35px 35px 0px;
}

.localeswitcher_action_container {
    margin: 10px 5px 5px 5px;
	padding: 30px;
	background: #F0F0F3;
}

#localeSwitcherButton img {
	width: auto;
	height: 18px;
}

.localeswitcher_btn {
    color: #fff;
    padding: 8px 10px;
    background: #95CBD9;
    border: 1px solid #95CBD9;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
	width: 100%;

}

.localeswitcher_btn:hover {
    background: #B7DBE5;
	border: 1px solid #B7DBE5;
}

#localeswitcher select {
	width: 100%;
	border: 1px solid #B7B7B7;
	height: auto;
	line-height: 9px;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.726' height='5.901' viewBox='0 0 11.726 5.901'%3E%3Cpath d='M0,0,5.534,4.859,11.067,0' transform='translate(0.33 0.376)' fill='none' stroke='%23857548' stroke-width='1'/%3E%3C/svg%3E%0A") no-repeat right .75rem center/8px 5px;
	text-align: left;
	padding: 12px;
	font-family: "Trade Gothic LT Std";
	font-size: 11px;
	text-transform: uppercase;
	-moz-appearance: none;
	-webkit-appearance: none;
	color: #857548;
}

#localeswitcher select option {
	text-transform: uppercase;
}

@media (max-width: 575.98px) {
	#localeswitcher {
		position: absolute;
		top: 7px;
		left: 50px;
		width: 18px;
		height: 18px;
		padding: 0;
	}

	.localeswitcher_dropdown {
		left: 50%;
    	transform: translateX(-50%);
    	position: fixed;
     	top: 55px;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {

#localeswitcher {
    display: inline-block;
    position: absolute;
    left: 61px;
    top: 7px;
}
.localeswitcher_dropdown {
    top: 44px;
    left: -47px;
}


}